@model Web.Models.indexViewModel
<style>
    img {
        max-width: 400px;
    }

    .allcontainer {
        padding: 5px;
    }
</style>
<h1>Новостная лента</h1>

@using (Ajax.BeginForm("ajaxPageLinks", new AjaxOptions { UpdateTargetId = "targetDiv" }))
{
    <div class="form-group">
        <label for="sel1">Источник ленты</label>
        <select class="form-control" name="source">
            <option value="%">Все</option>
            <option value="Habr.com">Habr.com</option>
            <option value="Interfax.by">Interfax.by</option>
        </select>
    </div>

    <label class="radio-inline"><input type="radio" name="sort" value="date" checked>Сортировать по дате</label>
    <label class="radio-inline"><input type="radio" name="sort" value="source">Сортировать по источнику</label>
    <br />

    <input value="Просмотреть" type="submit" class="btn btn-default"></input>
}

    <div id="targetDiv">
        <table class="table">
            <tr>
                <th>Источник</th>
                <th>Название новости</th>
                <th>Описание новости</th>
                <th>Дата публикации</th>
            </tr>
            @foreach (var item in Model.rssList)
            {
                <tr>
                    <td>@item.source</td>
                    <td><a href="@item.link" target="_blank">@Html.Raw(item.title)</a></td>
                    <td>@Html.Raw(item.description)</td>
                    <td>@item.date</td>
                </tr>
            }
        </table>

        <br />

        <div class="container">
            <div class="btn-group">
                @Html.pageLinks(Model.pageInfo, x => Url.Action("ajaxPageLinks", new { page = x }))
            </div>
        </div>
    </div>
@Scripts.Render("~/scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")